:root {
    --bg: #0B1D26;
    --accent: #FBD784;

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: var(--bg);
    color: #fff;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    font-family: 'Castoro', serif;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}

.headline {
    text-transform: uppercase;
    color: var(--accent);
    letter-spacing: 6px;
    font-weight: 700;
    padding-left: 96px;
    position: relative;
}

.headline::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 72px;
    height: 2px;
    background-color: var(--accent);
}

.title {
    font-family: 'Castoro', serif;
    font-size: 65px;
    line-height: 77px;
}


.header__top {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
    padding-top: 64px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__logo {
    color: var(--accent);
}

.header__menu {
    flex-basis: 250px;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
}

.header__menu-link:hover {
    color: var(--accent);
    transition: .3s all ease-in;
}

.header__popup-link {
    padding-left: 32px;
    position: relative;
    cursor: pointer;
}

.header__popup-link::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    height: 24px;
    width: 24px;
    background-image: url(../img/account.svg);
}

.header__slider {
    position: relative;
    margin-bottom: 100px;
}

.header__slider-item {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%), url(../img/slider-item1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 190px 80px;

}

.header__contacts {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
}

.header__contacts-text {
    writing-mode: vertical-lr;
}

.header__headline {
    padding-left: 104px;
}

.header__title {
    text-transform: capitalize;
    max-width: 800px;
    padding: 32px 0;
}

.header__scroll {
    position: relative;
    text-transform: lowercase;
    padding-right: 16px;
}

.header__scroll::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 24px;
    top: 0;
    right: -16px;
    background-image: url(../img/arrow-bottom.svg);
    animation: move-bottom 2s ease-out infinite;
}


.box {
    display: flex;
    padding: 100px 0;
}

.box__content {
    padding: 140px;
    position: relative;
}

.box__content--side-right {
    padding-left: 264px;
    padding-right: 0;
}

.box__number {
    font-family: 'Castoro', serif;
    font-size: 240px;
    opacity: 0.1;
    position: absolute;
    top: 140px;
    left: 8px;
}

.box__number--side-right {
    left: 130px;
}

.box__title {
    font-size: 56px;
    line-height: 60px;
    padding: 27px 0;
}

.box__text {
    line-height: 32px;
    padding-bottom: 27px;
}

.box__link {
    color: var(--accent);
    text-transform: lowercase;
    padding-right: 40px;
    position: relative;
}

.box__link::after {
    position: absolute;
    top: 4px;
    right: 0;
    content: "";
    width: 24px;
    height: 16px;
    background-image: url("../img/arrow-right.svg");
    animation: move-right 2s ease-out infinite;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.footer__box {
    flex: 3;
}

.footer__box--list {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.footer__text {
    max-width: 320px;
    line-height: 32px;
    margin-bottom: 122px;
}

.footer__copy {
    opacity: 0.5;
}

.footer__list {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: var(--accent);
    text-align: left;
}

.footer__links {
    padding-top: 24px;
}

.footer__link {
    font-weight: 400;
    font-size: 18px;
}

.footer__link:hover {
    color: var(--accent);
    transition: .3s all ease-in;
}

.popup {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup.open{
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content{
    transform: translate(0, 0);
    opacity: 1;
}

.popup__body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 50px;
}

.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 400px;
    max-height: 400px;
    padding: 30px;
    position: relative;
    transition: all .8s ease 0s;
    opacity: 0;
    transform: translate(0, -100%);
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

@keyframes move-bottom {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(25%);
    }
}

@keyframes move-right {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(25%);
    }
}